---
---

@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff;
$header-bg-color: #004291;
$header-bg-color-secondary: #919191;

// Text
$section-headings-color: #004291;
$body-text-color: #474747;
$body-link-color: #004291;
$blockquote-text-color: #002047;

// Code
$code-bg-color: #bcc3cc;
$code-text-color: #474747;

// Borders
$border-color: #002047;
$table-border-color: #002047;
$hr-border-color: #002047;
